
.error{
    img{
        display: block;
        width: 40%;
        margin: auto;
    }
    .errorContenido{
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 40px;
    }
}